doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    |     
    |     
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    |     
    link(rel='stylesheet', href='/css/style.css')
    |     
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
    script(src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')
    |     
    title= pagina
  body
    div(style='text-align: center')
      img(src='/img/indice.png')
    |   
    .contenedor
      .titulo BASE DE DATOS PARA FCT CEF 
      |       
      |     
      .row.justify-content-md-center(style='padding-bottom: 35px ;')
        .col-md-2.text-center
          a.btn-lg.btn-primary.btn-block(href='/listadoalumnos') Alumnos
        |            
        |                   
        |                 
        .col-md-2.text-center
          a.btn-lg.btn-warning.btn-block(href='/listadoempresas') Empresas
        |                 
        .col-md-2.text-center
          a.btn-lg.btn-danger.btn-block(href='/nuevoalumno') Nuevo Alumno
        |                 
        .col-md-2.text-center
          a.btn-lg.btn-primary.btn-block(href='/nuevaempresa') Nueva Empresa
    |       
    
    
    .itemH2
      h2 BUSCADOR DE PRÁCTICAS
    |     
    #Buscador.row.col-md-12.offset-md-4(style='margin-top: 20px')
         
                  
                  form(id="myForm" action='' method="POST").form-group.col-md-2       
                      label(for='curso') Curso
                        input(type='text' name="curso") 
                        input(type='submit')
                      

                      
                    
  

  table.table   
      thead.thead-light
          tr           
            th(scope="col") Empresa                          
            th(scope="col") Contacto                          
            th(scope="col") E-MAIL                         
            th(scope="col") TELEFONO                           
            th(scope="col") PRACTICAS    

          each empresa in seleccionEmpresas
                tr
                    td= empresa.EMPRESA                  
                    td= empresa.CONTACTO                  
                    td= empresa.EMAIL 
                    td= empresa.TELEFONO
                    td= empresa.PRACTICAS
    
        
  
    
    

  script(src='js/js/bootstrap.min.js')
