doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    |    
    |     
    link(rel='stylesheet', href='css/table.css')
    |     
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
    title Document
  body
    table.table
      thead.thead-dark
        tr
          th#sortDate(scope='col') Curso
          th#sortName(scope='col') Nombre                 
          th(scope='col') Localidad                           
          th(scope='col') Email_Alumno                          
          th(scope='col') Contacto Alumno                           
          th(scope='col') Practicas                          
          th(scope='col') Empresa                          
          th(scope='col') Contacto Emp.                          
          th(scope='col') Editar
              
            each alumno in alumnos
                  tr
                    td= alumno.cursoAl                  
                    td= alumno.nombreAl
                    td= alumno.localidadAl 
                    td= alumno.emailAl 
                    td= alumno.empresaAl 
                    td= alumno.contactoEmp
                    td= alumno.practicas                   
                    
    // -  <button type="button" id="sortar">Sort</button>
    button.btn.btn-success(type='button', onclick="window.location='/'") Volver al Menu
    |     
    |     
    script(src='/js/mostrarAlumnos.js', type='module')
